<a href="https://colab.research.google.com/github/M4rcusPaulo/code-park/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1, 21):
  if i!=13:
    print("apto", i)

apto 1
apto 2
apto 3
apto 4
apto 5
apto 6
apto 7
apto 8
apto 9
apto 10
apto 11
apto 12
apto 14
apto 15
apto 16
apto 17
apto 18
apto 19
apto 20

In [ ]:
i = 1
while i < 21:
   print("apto " + str(i))
   i = i + 1

apto 1
apto 2
apto 3
apto 4
apto 5
apto 6
apto 7
apto 8
apto 9
apto 10
apto 11
apto 12
apto 13
apto 14
apto 15
apto 16
apto 17
apto 18
apto 19
apto 20

In [ ]:
 for apto in range(1):
   print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20)

1 2 3 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
for i in range(20, -1, -1):
 if i!=13:
  print("apto " + str(i))

apto 20
apto 19
apto 18
apto 17
apto 16
apto 15
apto 14
apto 12
apto 11
apto 10
apto 9
apto 8
apto 7
apto 6
apto 5
apto 4
apto 3
apto 2
apto 1
apto 0